@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.card{
    width: 340px;
    max-width: 350px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
}

.card-img{
    position: relative;
    height: 250px;
    cursor: pointer;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}

.img-card{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.card-img .layer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 255, 247, 0.315);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.card-img:hover > .layer{
    opacity: 1;
    visibility: visible;
}

.card-img:hover >.layer .view{
    margin-top: 100px;
}

.content-card{
    border-bottom: 2px solid hsl(215, 32%, 27%);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.content-card h3{
    color: hsl(0, 0%, 100%);
    margin: 10px 0;
    font-weight: 600;
    font-size: 22px;
}

.content-card h3:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.content-card p{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300px;
    margin-bottom: 10px;
}

.content-card span:nth-last-child(2){
    font-weight: 400;
    color: hsl(178, 100%, 50%);
    margin: 0 45px 0 0;
}

.content-card span:nth-last-child(1){
    font-weight: 400;
    color: hsl(215, 51%, 70%);
    margin: 0 0 0 45px;
}

.content-card span img{
    margin-right:5px;
}

.creator{
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-weight: 600;
    font-size: 17px;
}

.creator img{
    width: 35px;
    margin-right: 10px;
}

.creator p strong{
    color: hsl(0, 0%, 100%);
}

.creator p strong:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}